body{
    background-image: url(mal_2.jpg);
    background-position: center;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
   
}
img{
    display: block;
    margin: 0 auto;
}

.menu {
    padding: 15px 0 15px 0;
    background-color: rgba(240, 105, 166, 0.66);
    border-radius: 15px;
    background-position: center;
}

.content {
	padding: 20px 0 50px 0;
    background-color: rgba(159, 134, 151, 0.76);
    border-radius: 15px;
    background-position: center;}
.anna{
    padding: 20px;
}